*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Condensed', sans-serif;

}
body{
background: rgb(218, 217, 238,.1);
}
h1{
    color:rgb(36, 26, 26);
    text-shadow: rgb(106, 116, 117) 5px 5px;
    font-size:3em;
    text-align:center;
}
#hdivs { 
    font-size:3em;
    color:rgb(36, 26, 26);
    text-align: center;
    background:none;
    text-shadow: rgb(104, 211, 230) 5px 5px;
    text-transform: uppercase;
}
header{
    width:100%;
    display:flex;
    background: linear-gradient( 360deg, #8577CC, #247AD1);
    align-items: center;
    justify-items: center;
}
#slide1 h1{
    display: flex;
    text-align: center;
    text-shadow: rgb(104, 211, 230) 5px 5px;
}
nav img {
    border-radius: 25px;
    padding: 10px;
    width: 400px;
    height: 150px;
}
#imgidq {
    width: 80px; 
    border-radius: 15px;
    margin-left: 10px;
    
}
.menus{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.menus ul{
    display: flex;
    font-size: 1.3em;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    padding-right: 5%;
}
.menus ul li{
    display: flex;
    flex-direction: column;
    padding: 9px;
    justify-content: space-between;
    margin-right: 54px;
    transition: all 2s ease-in-out;

}
.menus img{
    width: 50px;
    border-radius: 100%;
    margin: 5px;
}
a{
    color: white;
    font-weight: bold;
    text-decoration:none;
    letter-spacing:2px;
}
h2{
    color: white;
    letter-spacing: .2em;
}
.divisaoTelas{
    padding: 5% 0;
    text-align: center;
    background: linear-gradient( 360deg, #8577CC, #247AD1);
    color: turquoise;
}
.telas h1{
    font-size: 3em;
    letter-spacing: 4px;
    color: rgb(58, 23, 216);
    text-shadow:purple 3px 5px;
    /*background: linear-gradient( 25deg, #03a9f4, #175);
    */    
    padding: 1px 0;
    border-radius: 45px;

}.telas {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    height: 2100px;
}.telas-1{
    height: 500px;
    max-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( 90deg, #8577CC, #247AD1);
    border-radius: 45px;
    border-radius: 15px;

}
.telas img{
    width: 100px;
    border-radius:5px;
}
.primeiro{
    width: 100vw;
    height: 90vh;
    margin: 5px 0;
    background: url(img/bgteste.jpg);
    background-repeat:no-repeat;
    background-size:cover;

}
.segundo{
    width: 100vw;
    height: 90vh;
    margin: 55px 0;
    background: url(img/bgteste.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.terceiro{
    background: url(./img/f1.jpg);
    background-size: cover;
    background-position-y: -200px;
background-repeat: no-repeat;}
.terceiro img, .primeiro img,.segundo img{
    width: 900px;
    height:90vh;
}
.terceiro h1{
    margin:15% 15% 25% 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.planos{
    display: flex;
    justify-content: center;
    background: linear-gradient( 360deg, #8577CC, #247AD1);
    /*
    background: linear-gradient(rgb(214, 9, 175),rgb(214, 15, 171), rgb(52, 52, 134));
    
    */
}
.card{
    background: turquoise;
    margin:75px;
    padding: 8px;
    border: 5px rgb(4, 15, 171)  solid;
    border-radius: 45px;
    text-align: center;
    transition-delay: .5s;
    box-shadow: 25px 5px 15px purple;
}
.card a{
    color: rgb(23, 0, 128);
    font-size: 2em;
    font-weight:bold;
    text-transform: uppercase;

}
.card p{
    font-size: 1em;
    text-transform: uppercase;
    padding: 3%;
    color: white;
    border: 3px rgb(0, 2, 128) solid;
    text-align: center;
    border-radius: 25px;
    margin: 5% 9%;
}
.card input{
    width: 70%;
    font-style: italic;    
    font-size: 1em;
    color: cornsilk;
    padding: 15px;
    margin: 4% 0;
    border-radius: 25px;
    background: rgb(255, 106, 0);
    cursor: pointer;
}
.card:hover{
    background:rgb(204, 204, 238);
  /*
/  background:rgb(105, 105, 179);
  */  
    transition: all 1.2s cubic-bezier(1, 0, 0, 1);
    border-radius: 35% 0 35% 0;
    border:5px inset white;
    box-shadow: 25px 5px 15px darkblue;
}
.card input:hover{
    background:rgb(235, 12, 12);
    transition: all 1.2s cubic-bezier(0, 1, 1, 1);
    color: aliceblue;
}

.indique{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    align-content: center;
    align-items: center;
}
.indique p{
    margin-left: 10%;
    font-size: 2em;
    color: rgb(75, 56, 60);
}
.indique img{
    width: 80vw;
    height: 80vh;
    border-radius: 25px;
}
#maps{
    width: 99vw;
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
     background: linear-gradient(200deg, #03a9f4, #175);
     margin-bottom: 5px;
     align-items: center;
    
}
footer img {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    border-radius: 100%;

}
footer .menus{
    justify-content: center;
    margin-bottom: 25px;

}
footer #logofooter{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    justify-content: center;
    border-radius: 5%;
    margin:50px 0;
}
.menus ul li:hover{
    border-radius: 15px;
    background: linear-gradient(90deg ,#109, #9333);
    border-style:inset;
    transition:.5s;

}
#copy{
    background: linear-gradient(90deg ,#109, #bababa);
    background-size: 100%;
    font-size:2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#consulte{
    font-size: 1em;
}

@media (max-width:799px) {
  
     
    slide1 img{
    width: 100%;
    padding: 0%;
}
#maps{
    width: 100%;
}
    h1{
    display: flex;
}
.card {
display: none;
}
a{
    font-size: 1em;
    text-decoration: none;
}
p{
    margin: 0;
}
#plano{
    color: blanchedalmond;
    font-weight: bold;
    font-size: 1em;
}
.telas{
    background:blueviolet;
}
.telas-1{
    margin: 5px 0;
}
.telas img{
    display: none;
}
.card{
    display: none;
}
footer{
    margin: 0;
    width: 100%;
}
footer p{
    display: flex;
    flex-wrap: wrap;
    color: antiquewhite;
}
footer #logofooter{
width: 100%;
margin: 0;

}
#copy{
    font-size: 15px;
}
nav{
    display: none;
}
}   